h3 {
  margin-left:3rem;
}

img {
border-radius: 50%;
height: 6rem;
width: 6rem;
align-items: left;
border-color: grey 1rem;
}

article {
display:flex;
padding: 1rem;
padding-left: 5rem;
max-resolution: 2rem;
width: 90%;
}

.Author{
padding-left:2rem;
margin: 0;
}

.Wrapper{
  margin-right: 40%;
}
.Wrapper-flex{
  margin-left:5rem;
  display:inline-flex;
  width: 100%
}

