header {
  display: flex;
  padding: 1.25rem;
  justify-content: space-between;
  align-items: baseline;
}

  h1 {
    color: rgb(113, 0, 0);
    margin-top: -15%;
    width: 100%;
    vertical-align: top;
    display: inline-block;
}



.brand p {
  color: black;
}

.Menu {
  .NavMenu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    ElementNavMenu {
      padding: 0 1.25rem;
      a {
        color: black;
      }
    }
  }
}
.Menu .NavMenu .ElementNavMenu {
  background-color: #2e8b6f;
  display: flex;
  align-self: right;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;

}

.Menu .NavMenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Menu .NavMenu a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  
}

.Menu .NavMenu .ElementNavMenu {
  background: #157960;
}

.Menu .NavMenu .NavMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
}

.Menu .NavMenu .NavMenu .ElementNavMenu {
  float: none;
  width: 150px;
}

.Menu .NavMenu .NavMenu a {
  line-height: 120%;
  padding: 10px 15px;
}

.Menu .NavMenu .ElementNavMenu:hover > ul {
  display: block;
}
