
H1 {
  display: flex;
  color: rgb(113, 0, 0);
  margin: 0;
  align-content: flex-start
}

p {
  font {
    size: 100%;
    color: black;
  }
}
nav {
  
   ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    li {
      padding: 0 1.25rem;
      a {
        color: black;
      }
    }
  }
}
.Menu ul li {
  background-color: #2e8b6f;
  display: flex;
  align-self: right;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

.Menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Menu ul a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.Menu ul li:hover {
  background: #157960;
}

.Menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
}

.Menu ul ul li {
  float: none;
  width: 150px;
}

.Menu ul ul a {
  line-height: 120%;
  padding: 10px 15px;
}

.Menu ul li:hover > ul {
  display: block;
}
