
h2 {
  font-size: 400%;
  color: black;
}

a {
  color: white;
  text-decoration: none;
}

p{
  font{
    size:120%;
    color:black;
    }
  }

.Cover {
  margin-top: 10%;
  margin-bottom: 20%;
  margin-left: 20%;
  margin-right: 20%;
}


.VcButton {
background:    #cc0000;
border:        1px solid #556699;
border-radius: 11px;
box-shadow:    0 1px #444444;
padding:       20px 45px;

display:       inline-block;
font:          normal bold 26px/1 "Open Sans", sans-serif;
text-align:    center;
text-shadow:   1px 1px #000000;



}

